.buy-btn-container {
	width: 100%;
	.buy-btn {
		background-color: #60ecbd;
		border: none;
		color: inherit;
		font-size: 0.87rem;
		padding: 0.3rem 1rem;
		border-radius: 1.25rem;
		width: 100%;
		max-width: 35.938rem;
	}
}
