@import "../../variables.module.scss";

.products-container {
	margin-top: 1.85rem !important;
	.product-container {
		display: flex;
		flex-direction: column;
		border-radius: 0.6rem;
		overflow: hidden;
		background-color: #ffffff;
		height: 100%;
		.image-container {
			.product-image {
				width: 100%;
			}
		}
		.product-specs {
			padding: 0 20px 20px 20px;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.product-name {
				padding-top: 10px;
				font-weight: bold;
			}
			.product-definition {
				line-height: 1.2em;
				flex-grow: 1;
			}
		}

		.product-footer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 1.25rem;
			.size-select {
				background-color: #faecfd;
				border: none;
				border-radius: 1.25rem;
			}
		}
		.buy-btn {
			background-color: $button-color;
			border: none;
			color: inherit;
			text-transform: uppercase;
			font-size: 0.87rem;
			padding-left: 1rem;
			padding-right: 1rem;
			border-radius: 1.25rem;
		}
	}
}
