.products-container {
	margin-top: 1.85rem !important;
	.product-container {
		// position: relative;
		display: flex;
		flex-direction: column;
		border-radius: 0.6rem;
		overflow: hidden;
		background-color: #ffffff;
		height: 100%;
		.image-container {
			.product-image {
				width: 100%;
				cursor: pointer;
			}
		}
		.product-specs {
			padding: 0 1.2rem 1.2rem 1.2rem;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			.product-name {
				padding-top: 0.6rem;
				font-weight: bold;
			}
			.product-definition {
				line-height: 1.2em;
				flex-grow: 1;
			}
		}

		.product-footer {
			display: flex;
			justify-content: space-between;
			width: 100%;
			margin-bottom: 1.25rem;
			.size-select {
				background-color: #faecfd;
				border: none;
				border-radius: 1.25rem;
				padding-left: 1rem;
			}
			.price {
				.price-amount {
					font-weight: bold;
				}
			}
		}
		.outstock-text {
			font-weight: bold;
		}
	}
}

.modal-products {
	.modal-dialog {
		padding: 0;
		margin: 0;
	}
	.expandable-column {
		transition: width 0.3s;
		.modal-product-image-container {
			position: relative;
			.modal-product-image {
				width: 100%;
			}
			.expand-reduce-image {
				display: none;
				position: absolute;
				max-width: 1.2rem;
				top: 0.3rem;
				right: 0.3rem;
				background-color: #60ecbd;
				border-radius: 1.25rem;
				border: 2px solid #ffffff;
				box-sizing: border-box;
				cursor: pointer;
				// this is lg in bootstrap
				@media (min-width: 992px) {
					display: block;
				}
			}
		}

		.modal-table-container {
			table {
				width: 100%;
				.modal-table-header {
					font-size: 0.8rem;
				}
				.modal-table-header,
				td {
					text-align: center;
				}

				tr:nth-child(even) {
					background-color: #f2f2f2;
				}
			}
		}
		.modal-product-definition {
			margin-top: 0.62rem;
		}
	}
}
