@import "../../variables.module.scss";
@import "../../default-media-queries.scss";

.shopping-cart {
	margin-top: 1.85rem;

	&.fixed {
		position: -webkit-sticky;
		position: sticky;
		top: 0.6rem;
	}
	.cart-icon-container {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 50%;
		right: 0;
		background-color: $button-color;
		padding: 0.8rem;
		border-top-left-radius: 80px;
		border-bottom-left-radius: 80px;
		cursor: pointer;
		z-index: 99999;
		@include media-breakpoint-up(lg) {
			margin-bottom: 0.5rem;
			position: relative;
			border-radius: 0;
		}
		.cart-icon {
			max-width: 1.8rem;
			user-select: none;
		}
		.number-items-in-cart {
			position: absolute;
			display: flex;
			align-items: center;
			justify-content: center;
			top: 0.2rem;
			background-color: red;
			border-radius: 50%;
			width: 1rem;
			height: 1rem;
			padding: 0.3rem;
			line-height: 1em;
			font-size: 0.6rem;
			color: white;
			transform: translateX(0.6rem);
		}
	}
	.delivery-details {
		.delivery-title {
			font-weight: bold;
		}
		h3 + p {
			margin-bottom: 0;
		}
	}
	.popover-cart {
		max-height: 15rem;
		overflow: hidden;
		overflow-y: auto;
		box-shadow: 9px 13px 15px 3px rgba(0, 0, 0, 0.2);
		z-index: 99999;
		@include media-breakpoint-up(lg) {
			max-height: none;
			overflow: visible;
		}
		.popover-cart-body {
			max-width: 500px;
			.popover-close-btn {
				position: absolute;
				top: 0.6rem;
				right: 0.6rem;
			}
			.cart-products-container {
				display: flex;
				align-items: center;
				flex-direction: column;
				.cart-product {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 0.3rem 0;
					border-bottom: 1px solid #ced4da;
					.product-image {
						flex: 0 0 35%;
						img {
							width: 100%;
						}
					}
					.product-details {
						flex: 0 0 65%;
						padding-left: 0.6rem;
						font-size: 0.8rem;

						h7,
						p {
							margin-bottom: 0;
						}
						.product-spec {
							display: flex;
							p:nth-child(2) {
								padding-left: 0.6rem;
							}
						}

						.remove-item {
							color: red;
							font-size: 0.8rem;
							cursor: pointer;
							.bin-image {
								max-width: 0.9rem;
							}
							span {
								padding-left: 0.3rem;
							}
						}
					}
				}
			}
		}
	}
	.total-price {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.checkout-button-container {
		.checkout-btn {
			background-color: $button-color;
			border: none;
			color: var(--bs-body-color);
			font-size: 0.87rem;
			padding-left: 1rem;
			padding-right: 1rem;
			border-radius: 1.25rem;
		}
	}
}
