.footer {
	position: relative;
	text-align: center;
	padding-bottom: 3.1rem;
	z-index: 9;
	.copyright,
	.photos-author,
	.returns-title,
	.email {
		font-weight: bold;
	}

	.returns-title {
		margin-bottom: 0;
	}
}
