@import "@node_modules/bootstrap/scss/bootstrap.scss";

$grid-gutter-width: 1.5rem;
$spacer: 5rem;
$gutters: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);

@each $key, $value in $gutters {
	.g-#{$key} {
		--#{$prefix}gutter-x: #{$value};
		--#{$prefix}gutter-y: #{$value};
	}
}
