.contact-main {
	background-color: #f6f7fc;
	position: relative;
	padding: 5rem 0;
	&:before,
	&:after {
		position: absolute;
		top: -4.6rem;
		left: 0;
		display: inline-flex;
		content: "";
		background-image: url(/waves-bg.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 100%;
		height: 5.1rem;
	}
	&:after {
		top: auto;
		bottom: -4.6rem;
		transform: rotate(180deg);
	}
	.form-container {
		max-width: 56.25rem;
		.title {
			font-weight: bold;
		}
		.contact-form {
			.form-input {
				border-radius: 1.25rem;
			}
			.form-textarea {
				border-radius: 0.6rem;
				resize: none;
			}
			.message-info {
				font-size: 0.8rem;
			}
			.send-message-btn {
				background-color: #60ecbd;
				border: none;
				color: inherit;
				text-transform: uppercase;
				font-size: 0.87rem;
				padding-left: 1rem;
				padding-right: 1rem;
				border-radius: 1.25rem;
			}
			.input-form-error {
				&.input-textarea .error-detail {
					margin-bottom: 0;
				}
				.error-detail {
					color: red;
					font-size: 0.8rem;
				}
			}
		}
	}
	.contact-form-result-container {
		margin-top: 0.6rem;
		.contact-form-result.success {
			color: #43958c;
		}

		.contact-form-result.failure {
			color: red;
		}
	}
}

.shake {
	animation: shake 0.5s;
}

@keyframes shake {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-3px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(3px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(-3px, 1px) rotate(0deg);
	}
	70% {
		transform: translate(3px, 1px) rotate(-1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(1px, -2px) rotate(-1deg);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
