@import "../../variables.module.scss";

.contact-main {
	background-color: $primary-color;
	position: relative;
	padding: 5rem 0;
	&:before,
	&:after {
		position: absolute;
		top: -83px;
		left: 0;
		display: inline-flex;
		content: "";
		background-image: url(/waves-bg.svg);
		background-repeat: no-repeat;
		width: 100%;
		height: 83px;
		z-index: -1;
	}
	&:after {
		top: auto;
		bottom: -83px;
		transform: rotate(180deg);
	}
	.form-container {
		max-width: 56.25rem;
		.title {
			font-weight: bold;
		}
		.contact-form {
			.form-input {
				border-radius: 1.25rem;
			}
			.form-textarea {
				border-radius: 0.6rem;
				resize: none;
			}
			.send-message-btn {
				background-color: $button-color;
				border: none;
				color: inherit;
				text-transform: uppercase;
				font-size: 0.87rem;
				padding-left: 1rem;
				padding-right: 1rem;
				border-radius: 1.25rem;
			}
		}
	}
}
